$bg1: #141312;
$bg2: #181716;
$bg3: #201f1e;
$bg4: #2b2423;
$bg5: #362e2d;
$bg6: #3c3433;
$bg10: #843332;

$text0: #fff;
$text1: #eee;
$text2: #e8e8e8;
$text3: #ddd;
$text4: #d8d8d8;
$text5: #ccc;
$text8: #aaa;
$text10: #999;

$bannerColor: $bg1;

$logoColor: $text5;

$iconHover: #333;
$iconNormal: #000;
