@import "/src/styles/globals.scss";

#outer {
    height: 100%;
    width: 20rem;

    #target {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 20em;
        width: 100%;

        .icon {
            height: 45%;
        }

        h2 {
            font-size: 4em;
            text-align: center;
        }
    }

    #bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        #current {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}